body {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-rows: 10em 1fr 10em;
    margin: 0;
    background-color: #0e7490;
    font-family: 'Montserrat';
}
body > header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5em 0 5em;
    color: white;
}
.nav-header {
    display: flex;
    justify-content: flex-end;
    column-gap: 2em;
}
.nav-header > div > a {
    text-decoration: none;
    color: white;
}
.nav-header > div > a:hover {
    text-decoration: underline;
}
body > main { 
    grid-area: main;
    background-color: #ecfeff;
}
body > footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em;
    color: white;
}
.nav-footer > div {
    padding: 0.8em;
}
.nav-footer > div > a {
    text-decoration: none;
    color: white;
}
.nav-footer > div > a:hover {
    text-decoration: underline;
}

.homepage-filler {
    text-align: center;
    align-self: center;
    padding: 10em 30em 10em 30em;
}


.container-library {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 0.8em;
    padding: 2em 0 2em 0;
}
.container-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFCFF;
    width: 25em;
    border: 1px solid #0e7490;
    border-radius: 1em;
    padding: 0 2em 0 2em;
    /* padding: 0.2em 0 0.2em 3em; */
    transition: background-color 0.4s ease-out;
}
.container-book:hover {
    background-color: #0e7490;
}
.book-info-text {
    text-decoration: none;
    color: #0e7490;
}
.container-book:hover .book-info-text {
    color: white;
}
.container-book:hover .book-info-text > a {
    text-decoration: underline;
}
.book-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1em;
}
button {
    height: 3em;
    width: 6em;
    border-radius: 1em 0.1em 1em 0.1em;
    background-color: #ecfeff;
    box-shadow: 0.05em 0.05em 0.5em #0e7490;
}
button:hover {
    cursor: pointer;
}
.book-buttons > button > a {
    text-decoration: none;
    color:  black;
}

.container-forms {
    display: flex;
    justify-content: center;
    column-gap: 3em;
    align-items: center;
    padding: 2em 0 2em 0;
}
.form-section-container {
    background-color: #FAFCFF;
    /* width: 30em; */
    border: 1px solid #0e7490;
    border-radius: 1em;
    padding: 1.5em;
}
.new-author-form, .new-book-form, .edit-book-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 0.5em;
}
.label-input-pair {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
}
.button-container {
    display: flex;
    justify-content: center;
}