body {
    background-color: #A5C1CC;
    display: grid;
    grid-template-areas:
        'body_header'
        'body_main'
        'body_footer';
    grid-template-rows: 150px 1fr 200px;
    margin: 0;
    font-family: 'Montserrat';
}
body > header {
    background-color: #A5C1CC;
    grid-area: 'body_header';
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
body > main {
    background-color: #E7FFF9;
    grid-area: 'body_main';
}
body > footer {
    background-color: #A5C1CC;
    grid-area: 'body_footer';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 0;
    padding-top: 1.5rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    column-gap: 20px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2rem;
    row-gap: 1.5rem;
}
.add-remove-container {
    display: grid;
    grid-template-rows: 60px 1fr;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.add-remove-header {
    text-align: center;
}
.add-remove-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}
.form-add-book {
    display: grid;
    grid-template-areas:
        "left-upper right-upper"
        "bottom bottom";
    grid-template-columns: 1.8fr 1fr;
    grid-template-rows: 3fr 2.5rem;
    border-radius: 5px;
    padding: 5px;
    background-color: #4E8399;
}
.form-add-book-1 {
    grid-area: left-upper;
    text-align: center;
    border: 0;
}
.form-add-book-2 {
    grid-area: right-upper;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    border: 0;
}
.form-add-book-3 {
    grid-area: bottom;
    display: flex;
    justify-content: center;
    align-content: center;

}
.form-remove-book {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    background-color: #4E8399;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}
.form-label-input-pair {
    display: flex;
    justify-content: space-between;
}
.library-header {
    text-align: center;
}
.library-all-books {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 4rem;

}
.library-single-book {
    height: 16rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 0.0rem;
    background-color: #CCA5AC;
    box-shadow: 2px 2px 3px 2px #4E8399;
    border-radius: 5px;
}
.library-single-book > p {
    padding: 0;
    margin: 0;
}
.single-book-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
.single-book-header {
    text-align: center;
}
