<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <title>CodeClan Library App</title>
</head>
<body>
    <header>
        <h1>Welcome to the CodeClan Library</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/books">All Books</a>
        </nav>
    </header>
    <main>
        {% block body_main_content %}
            
        {% endblock %}
    </main>
    <footer>
        <section>
            <h3>Josh Montgomery</h3>
            <h4>CodeClan</h4>
            <h4>2022</h4>
        </section>
        <nav>
            <a href="/">Home</a>
            <a href="/books">All Books</a>
        </nav>
    </footer>
</body>
</html>