{% extends 'base.html' %}

{% block body_main_content %}
    <section class="single-book-container">
        <header class="single-book-header">
            <h2>Single Book Detail</h2>
        </header>
        <main class="library-single-book">
            <p>
                <strong>Title: </strong>
                {{ book.title }}
            </p>
            <p>
                <strong>Author: </strong>
                {{ book.author }}
            </p>
            <p>
                <strong>Genre: </strong>
                {{ book.genre }}
            </p>
            <p>
                <strong>Checked Out? </strong>
                {% if book.checked_out %}
                    &#9989;
                {% else %}
                    &#10060;
                {% endif %}
            </p>
            <form method="post">
                {% if book.checked_out %}
                    <input type="submit" name="check_in" value="Check In">
                {% else %}
                    <input type="submit" name="check_out" value="Check Out">
                {% endif %}
            </form>
        </main>
    </section>

{% endblock %}