{% extends 'base.html' %}

{% block body_main %}
    <main class="container-forms">
        <section class="edit-book-form">
            <form action="/books/{{ book.id }}/edit" method="post">
                <div>
                    <label for="title">Title: </label>
                    <input type="text" id="title" name="title" value="{{ book.title }}">
                </div>
                <div>
                    <label for="genre">Genre: </label>
                    <input type="text" id="genre" name="genre" value="{{ book.genre }}">
                </div>
                <div>
                    <label for="author">Author: </label>
                    <select id="author" name="author_id">
                        {% for author in authors %}
                            <option 
                                value="{{ author.id }}"
                                {% if author.id == book.author.id %}selected{% endif %}
                                >{{ author.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit">Save Book</button>
                </div>
            </form>
        </section>
    </main>
{% endblock %}