{% extends 'base.html' %}


{% block body_main %}
    <main class="container-library">
        {% for book in all_books %}
            <section class="container-book">
                <div class="book-info">
                    <p class="book-info-text">Title: <a href="/books/{{ book.id }}" class="book-info-text">{{ book.title }}</a></p>
                    <p class="book-info-text">Genre: {{ book.genre }}</p>
                    <p class="book-info-text">Author: {{ book.author.name }}</p>
                </div>
                <div class="book-buttons">
                    <button class="button"><a href="/books/{{ book.id }}/edit">Edit</a></button>
                    <form action="/books/{{ book.id }}/delete" method="post">
                        <button type="submit" class="button">Delete</button>
                    </form>
                </div>
            </section>
        {% endfor %}
    </main>
{% endblock %}